@import url("https://fonts.googleapis.com/css?family=Oxygen");
html, body {
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #707070;
}
html p, body p {
  margin: 0;
}
html a, body a {
  text-decoration: none;
  color: #858182;
}
html a:hover, body a:hover {
  color: #565A5A;
}
html h1, html h2, html h3, body h1, body h2, body h3 {
  font-weight: normal;
}
html .intersection, body .intersection {
  height: 5px;
}
html #container_navbar, body #container_navbar {
  font-family: "Oxygen";
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}
html #container_navbar .navbar_logo, body #container_navbar .navbar_logo {
  margin-left: 10px;
  width: 200px;
  height: 60px;
}
html #container_navbar .navbar .navbar_list .navbar_list_item, body #container_navbar .navbar .navbar_list .navbar_list_item {
  display: inline;
  font-size: 16px;
  margin-left: 50px;
}
@media screen and (max-width: 905px) {
  html #container_navbar .navbar, body #container_navbar .navbar {
    display: none;
  }
}
html #container_navbar .icon_link, body #container_navbar .icon_link {
  display: none;
}
html #container_navbar .icon_link .burger_icon, body #container_navbar .icon_link .burger_icon {
  margin-right: 10px;
  width: 30px;
}
@media screen and (max-width: 905px) {
  html #container_navbar .icon_link, body #container_navbar .icon_link {
    display: block;
  }
}
@media screen and (max-width: 905px) {
  html #container_navbar, body #container_navbar {
    justify-content: space-between;
    background-color: #f7ecd6;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
  }
}
html #mobile_menu, body #mobile_menu {
  display: none;
  padding: 20px;
}
html #mobile_menu li, body #mobile_menu li {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  padding: 5px;
}
html #section1, body #section1 {
  background-image: url(../assets/img/pink_guy.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html #section1 .main_container, body #section1 .main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 450px;
}
html #section1 .main_container .head, body #section1 .main_container .head {
  margin: 0;
  font-size: 70px;
}
html #section1 .main_container .pres, body #section1 .main_container .pres {
  text-align: center;
  font-size: 24px;
}
html #section1 .main_container .button_discover, body #section1 .main_container .button_discover {
  -webkit-box-shadow: 0 8px 6px -6px #D2D4D4;
  -moz-box-shadow: 0 8px 6px -6px #D2D4D4;
  box-shadow: 0 8px 6px -6px #D2D4D4;
  width: 406px;
  height: 100px;
  border: 0px solid;
  border-radius: 75px;
  background-color: #D86F7D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}
html #section1 .main_container .button_discover:hover, body #section1 .main_container .button_discover:hover {
  background-color: #d84633;
}
html #section1 .main_container .app_store, body #section1 .main_container .app_store {
  margin-left: 20px;
}
@media screen and (max-width: 1280px) {
  html #section1, body #section1 {
    background-color: #f7ecd6;
    background-image: none;
  }
}
html .section2, body .section2 {
  background-image: url(../assets/img/RoundBackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
html .section2 #sub1, body .section2 #sub1 {
  height: 900px;
}
html .section2 #sub1 .upper_wrap, body .section2 #sub1 .upper_wrap {
  padding: 200px 300px 0 0;
  display: flex;
  justify-content: flex-end;
}
html .section2 #sub1 .upper_wrap .left, body .section2 #sub1 .upper_wrap .left {
  width: 600px;
}
html .section2 #sub1 .upper_wrap .left h1, body .section2 #sub1 .upper_wrap .left h1 {
  margin-top: 10px;
  font-size: 70px;
}
html .section2 #sub1 .upper_wrap .left p, body .section2 #sub1 .upper_wrap .left p {
  font-size: 24px;
}
@media screen and (max-width: 1280px) {
  html .section2 #sub1 .upper_wrap .left, body .section2 #sub1 .upper_wrap .left {
    text-align: center;
  }
}
html .section2 #sub1 .upper_wrap img, body .section2 #sub1 .upper_wrap img {
  margin-left: 50px;
}
@media screen and (max-width: 1280px) {
  html .section2 #sub1 .upper_wrap img, body .section2 #sub1 .upper_wrap img {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  html .section2 #sub1 .upper_wrap, body .section2 #sub1 .upper_wrap {
    justify-content: center;
    padding: 50px 0px 0 0;
  }
}
html .section2 #sub2, body .section2 #sub2 {
  height: 900px;
}
html .section2 #sub2 .head, body .section2 #sub2 .head {
  text-align: center;
  padding: 30px 0 0 100px;
  font-size: 65px;
}
@media screen and (max-width: 1048px) {
  html .section2 #sub2 .head, body .section2 #sub2 .head {
    display: none;
  }
}
html .section2 #sub2 .lower_wrap, body .section2 #sub2 .lower_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1048px) {
  html .section2 #sub2 .lower_wrap .cup_noodle, body .section2 #sub2 .lower_wrap .cup_noodle {
    display: none;
  }
}
html .section2 #sub2 .lower_wrap .right_container, body .section2 #sub2 .lower_wrap .right_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 650px;
}
html .section2 #sub2 .lower_wrap .right_container .icon_container, body .section2 #sub2 .lower_wrap .right_container .icon_container {
  text-align: center;
  margin: 50px;
}
html .section2 #sub2 .lower_wrap .right_container .icon_container .icon_section2, body .section2 #sub2 .lower_wrap .right_container .icon_container .icon_section2 {
  height: 100px;
}
html .section2 #sub2 .lower_wrap .right_container .icon_container .icon_desc, body .section2 #sub2 .lower_wrap .right_container .icon_container .icon_desc {
  font-size: 25px;
}
html #section3, body #section3 {
  background-image: url(../assets/img/pink_guy_reverse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}
html #section3 .head, body #section3 .head {
  text-align: center;
  padding: 50px 0 50px 0;
  font-size: 100px;
  margin: 0;
}
html #section3 .map, body #section3 .map {
  height: 600px;
  width: 600px;
  float: right;
  padding-right: 50px;
}
@media screen and (max-width: 1048px) {
  html #section3, body #section3 {
    display: none;
  }
}
html #section4, body #section4 {
  height: 900px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
html #section4 .container, body #section4 .container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
html #section4 .container h1, body #section4 .container h1 {
  font-weight: bold;
  color: black;
  font-size: 45px;
}
html #section4 .container .form, body #section4 .container .form {
  font-size: 25px;
}
html #section4 .container .form .form_infos, body #section4 .container .form .form_infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
html #section4 .container .form .form_infos .left, body #section4 .container .form .form_infos .left {
  padding-right: 140px;
}
@media screen and (max-width: 1500px) {
  html #section4 .container .form .form_infos .left, body #section4 .container .form .form_infos .left {
    padding-right: 0px;
  }
}
html #section4 .container .form .form_infos .top_field, body #section4 .container .form .form_infos .top_field {
  width: 640px;
}
@media screen and (max-width: 1500px) {
  html #section4 .container .form .form_infos .top_field, body #section4 .container .form .form_infos .top_field {
    width: 100%;
  }
}
html #section4 .container .form .form_infos .top_field input, body #section4 .container .form .form_infos .top_field input {
  height: 50px;
  width: 100%;
  font-size: 20px;
  color: #565A5A;
  border: none;
  border-bottom: 2px solid #565A5A;
  font-family: Calibri;
}
html #section4 .container .form .form_message .form_input_message, body #section4 .container .form .form_message .form_input_message {
  font-size: 18px;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
  font-size: 20px;
  color: #565A5A;
  border: none;
  border-bottom: 2px solid #565A5A;
  font-family: Calibri;
}
html #section4 .container .form .form_button_submit, body #section4 .container .form .form_button_submit {
  -webkit-box-shadow: 0 8px 6px -6px #D2D4D4;
  -moz-box-shadow: 0 8px 6px -6px #D2D4D4;
  box-shadow: 0 8px 6px -6px #D2D4D4;
  width: 295px;
  height: 75px;
  border: 0px solid;
  border-radius: 75px;
  background-color: #f34e5e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
html #section4 .container .form .form_button_submit:hover, body #section4 .container .form .form_button_submit:hover {
  background-color: #d84633;
}
html #section4 .container .form .form_button_submit img, body #section4 .container .form .form_button_submit img {
  padding-left: 20px;
  width: 40px;
  fill: white;
}

/*# sourceMappingURL=main.css.map */
