@import url('https://fonts.googleapis.com/css?family=Oxygen');

// GENERAL //

html, body {
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #707070;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #858182;

    &:hover {
      color: #565A5A;
    }
  }

  h1, h2, h3 {
    font-weight: normal;
  }


  .intersection {
    height: 5px;
  }

  // Navbar //

  #container_navbar {
    font-family: "Oxygen";

    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;

    .navbar_logo {
      margin-left: 10px;
      width: 200px;
      height: 60px;
    }

    .navbar {
      .navbar_list {
        .navbar_list_item {
          display: inline;
          font-size: 16px;
          margin-left: 50px;
        }
      }

      @media screen and (max-width: 905px) {
        display: none;
      }
    }

    .icon_link {
      display: none;

      .burger_icon {
        margin-right: 10px;
        width: 30px;
    }

      @media screen and (max-width: 905px) {
        display: block;
      }
    }


    @media screen and (max-width: 905px) {
      justify-content: space-between;
      background-color: #f7ecd6;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: relative;
    }
  }

  // Menu Mobile //

  #mobile_menu {
    display: none;
    padding: 20px;

    li {
      font-size: 20px;
      text-align: center;
      list-style-type: none;
      padding: 5px;
    }
  }

  // Section 1 //

  #section1 {
    background-image: url(../assets/img/pink_guy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .main_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 350px;
      width: 450px;

      .head {
        margin: 0;
        font-size: 70px;
      }

      .pres {
        text-align: center;
        font-size: 24px;
      }

      .button_discover {
        -webkit-box-shadow: 0 8px 6px -6px #D2D4D4;
        -moz-box-shadow: 0 8px 6px -6px #D2D4D4;
        box-shadow: 0 8px 6px -6px #D2D4D4;
        width: 406px;
        height: 100px;
        border: 0px solid;
        border-radius: 75px;
        background-color: #D86F7D;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 27px;

        &:hover {
          background-color: #d84633;
        }
      }

      .app_store {
        margin-left: 20px;
      }
    }

    @media screen and (max-width: 1280px) {
      background-color: #f7ecd6;
      background-image: none;
    }

  }

  // Section 2 //

  .section2 {
    background-image: url(../assets/img/RoundBackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    #sub1 {
      height: 900px;

      .upper_wrap {
        padding: 200px 300px 0 0;
        display: flex;
        justify-content: flex-end;

        .left {
          width: 600px;

          h1 {
            margin-top: 10px;
            font-size: 70px;
          }

          p {
            font-size: 24px;
          }

          @media screen and (max-width: 1280px) {
            text-align: center;
          }
        }

        img {
          margin-left: 50px;

          @media screen and (max-width: 1280px) {
            display: none;
          }
        }

        @media screen and (max-width: 1280px) {
          justify-content: center;
          padding: 50px 0px 0 0;
        }
      }

    }

    #sub2 {
      height: 900px;

      .head {
        text-align: center;
        padding: 30px 0 0 100px;
        font-size: 65px;

        @media screen and (max-width: 1048px) {
          display: none;
        }
      }

      .lower_wrap {
        width: 100%;
        display: flex;
        justify-content: center;

        .cup_noodle {
          @media screen and (max-width: 1048px) {
            display: none;
          }
        }

        .right_container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 650px;

          .icon_container {
            text-align: center;
            margin: 50px;

            .icon_section2 {
              height: 100px;
            }

            .icon_desc {
              font-size: 25px;
            }
          }

        }
      }

    }


  }

  // Section 3 //

  #section3 {
    background-image: url(../assets/img/pink_guy_reverse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;

    .head {
      text-align: center;
      padding: 50px 0 50px 0;
      font-size: 100px;
      margin: 0;
    }

    .map {
      height: 600px;
      width: 600px;
      float: right;
      padding-right: 50px;

    }

    @media screen and (max-width: 1048px) {
      display: none;
    }
  }

  // Section 4 //

  #section4 {
    height: 900px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {

      display: flex;
      flex-direction: column;

      margin: 30px;
      h1 {
        font-weight: bold;
        color: black;
        font-size: 45px;
      }

      .form {

          font-size: 25px;

        .form_infos {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 2%;

          .left {
            padding-right: 140px;
            @media screen and (max-width: 1500px) {
              padding-right: 0px;
            }
          }

          .top_field {
            width: 640px;

            @media screen and (max-width: 1500px) {
              width: 100%;
            }

            input {
              height: 50px;
              width: 100%;
              font-size: 20px;
              color: #565A5A;
              border: none;
              border-bottom: 2px solid #565A5A;
              font-family: Calibri;
            }



          }

        }

        .form_message {
          .form_input_message {
            font-size: 18px;
            margin-bottom: 20px;
            height: 300px;
            width: 100%;
            font-size: 20px;
            color: #565A5A;
            border: none;
            border-bottom: 2px solid #565A5A;
            font-family: Calibri;
          }
        }

        .form_button_submit {
          -webkit-box-shadow: 0 8px 6px -6px #D2D4D4;
          -moz-box-shadow: 0 8px 6px -6px #D2D4D4;
          box-shadow: 0 8px 6px -6px #D2D4D4;
          width: 295px;
          height: 75px;
          border: 0px solid;
          border-radius: 75px;
          background-color: #f34e5e;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 30px;

          &:hover {
            background-color: #d84633;
          }

          img {
            padding-left: 20px;
            width: 40px;
            fill: white;
          }

        }

      }

    }

  }
}